@import '../../styles/variables.scss';

.login-form {
  margin: 0 auto;
  width: 50%;
  max-width: 300px;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  &__notification {
    height:  20px;
    border: 1px solid transparent;

    .message {
      display: none;
    }

    &.show {
      border-color: $pink;
      .message {
        display: inline;
      }
    }

  }

}


