@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 $space*2;

  &__logo, &__nav, &__account {
    display: flex;
    align-items: flex-end;
  }
}
