@import '../../styles/variables.scss';

.navbar {
  display: flex;

  &__link {
    display: flex;
    align-items: flex-end;

    & a {
      border-bottom: solid 2px transparent;
      margin-right: $space*1.5;
      text-decoration: none;
      padding-bottom: 4px;

      &.active {
        border-color: $primary-accent;
      }
    }

  }

}

